/* MAIN */

.intro-bg {
  display: block;
  background-color: var(--color-c12);
  box-shadow: inset 0 -120px var(--color-c0);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intro-content {
  align-self: end;
  padding-bottom: 200px;
}

.intro-titulo {
  margin-bottom: 32px;
}

.intro-texto {
  margin-bottom: 20px;
}
.button {
  position: relative;
}
.button:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
intro .button::after {
  display: block;
  content: "";
  width: 52px;
  height: 52px;
  background: url("../utilities/img/dec/bottom-left.svg");

  position: absolute;
  bottom: -50px;
  left: -80px;
}

.intro img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  
  .intro-bg {
    background-color: var(--color-c11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--color-c0);
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .intro-content {
    padding-bottom: 0px;
  }
  .intro-titulo {
    margin-bottom: 16px;
  }
  .intro img {
    height: 300px;
    width: 100%;
  }
}
