.stores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.stores h2 {
  grid-column: 1/-1;
  margin-bottom: 60px;
}
.stores img {
  border-radius: 4px 4px 0 0;
}

.stores-item {
  border-radius: 4px;
  background: var(--color-c0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.stores-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 0px;
  padding: 32px;
}

.stores-content h3,
.stores-time {
  grid-column: 1/-1;
}

.stores-content h3 {
  display: flex;
  align-items: center;
}

.stores-content h3::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--color-p1);
  transition: width 0.2s;
}

.stores-data {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--color-c2);
  /* margin-left: 24px; */
  padding-left: 12px;
}

.stores-time {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 800px) {
  .stores {
    gap: 20px;
    padding-top: 60x;
    padding-bottom: 60px;
  }
  .lojas h2 {
    margin-bottom: 32px;
  }
  .stores-content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .stores {
    grid-template-columns: 1fr;
  }
}
