.bikes-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bikes-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
  background: url("../../img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.bikes-bg {
  background-image: linear-gradient(
    to right,
    var(--color-c0) 30%,
    var(--color-c11) 0%
  );
}

.bikes-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.bikes-img {
  display: grid;
}

.bikes-img img,
.bikes-img span {
  grid-area: 1/1;
}

.bikes-img img {
  /* height: 100%;
  width: 100%; */
  object-fit: cover;
  /* align-self: center; */
  /* object-position: right; */
}

.bikes-img span {
  display: inline-block;
  background: var(--color-c12);
  padding: 8px 16px 8px 8px;
  margin-top: 20px;
  border-radius: 4px 0 0 4px;
  place-self: start end;
}

.bikes-info h2,
.bikes-info p {
  grid-column: 1 /-1;
}

.bikes-info h2 {
  margin-bottom: 20px;
}

.bikes-info h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background: var(--color-p1);
  margin-bottom: 8px;
}

.bikes-info p {
  margin-bottom: 32px;
  max-width: 45ch;
}
.bikes-info li {
  display: flex;
  gap: 8px;
  align-items: center;
}
.bikes-info li {
  margin-bottom: 16px;
  width: max-content;
}
.bikes-info img {
  width: 24px;
  height: 24px;
}

.bikes-info a {
  align-self: end;
}

@media (max-width: 800px) {
  .bikes-item {
    grid-template-columns: 1fr;
  }
  .bikes-bg {
    /* box-shadow: none; */
    background: var(--color-c11);
  }
  .bikes-info {
    margin-left: 20px;
    margin-right: 20px;
  }

  .bikes-info a {
    justify-self: end;
  }
}
@media (max-width: 500px) {
  .bikes-item {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .bikes-img img {
    border-radius: 0;
  }
  .bikes-info {
    grid-template-columns: 1fr;
  }

  .bikes-info p,
  .bikes-info li {
    font-size: 1rem;
  }

  .bikes-info li,
  .bikes-info a {
    grid-column: 1 /-1;
  }
  .bikes-info a {
    justify-self: start;
  }
}
