.bikes-list-bg {
  padding: 60px 0px 120px;
  justify-content: center;
}

.bikes-list-bg h2 {
  margin-bottom: 40px;
}

.bikes-list {
  display: flex;
  padding: 0 20px 20px;
  max-width: 1400px;
  gap: 40px;
  margin: 0 auto;
  overflow-x: auto;
  flex-wrap: nowrap;
}
#bike-int .bikes-list {
  padding: 0 0 20px;
}

.bikes-list li {
  flex: 1;
  min-width: 280px;
  padding-bottom: 20px;
}

#bike-int .bikes-list li {
  min-width: 300px;
}
.bikes-list a {
  display: block;
}

.bikes-list img {
  margin-bottom: 16px;
}

.bikes-list h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bikes-list h3::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--color-p1);
  transition: width 0.2s;
}

.bikes-list a:hover h3::before {
  width: 24px;
}

.bikes-list li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bikes-list-bg {
    padding-bottom: 60px;
  }
  .bikes-list {
    gap: 20px;
  }
}
