.bikes-list-bg {
  padding-top: 60px;
  padding-bottom: 120px;

}

.bikes-list-bg h2 {
  margin-bottom: 40px;
}

.bikes-list {
  display: flex;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}
#bike-int .bikes-list {
  padding: 0 0 20px 0;
}

.bikes-list-bg li {
  flex: 1;
  min-width: 280px;
}

#bike-int .bikes-list li {
  min-width: 300px;
}
.bikes-list-bg a {
  display: block;
}

.bikes-list-bg img {
  margin-bottom: 16px;
}

.bikes-list-bg h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bikes-list-bg h3::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--color-p1);
  transition: width 0.2s;
}

.bikes-list-bg a:hover h3::before {
  width: 24px;
}

.bikes-list-bg li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bikes-list-bg {
    padding-bottom: 60px;
  }
  .bikes-list {
    gap: 20px;
  }
}
