.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 20px;
  justify-content: center;
  margin: 0 auto;
  gap: 0 40px;
}

.btn-global {
  display: inline-block;
  color: var(--color-p5);
  font: 600 1.125rem/1.33 var(--font-1);
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .btn-global {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
