.header-bg {
  background-color: var(--color-c12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  padding: 16px 0;
  display: inline-block;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  background-color: var(--color-c0);
  height: 2px;
  width: 0;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
}
@media (max-width: 800px) {
  .header-menu a {
    background: var(--color-c11);
    padding: 12px 16px;
    border-radius: 5px;
  }
  .header-menu a:hover {
    background: var(--color-c10);
    transform: "transition";
    transition: 0.8;
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    font-size: 14px;
    gap: 8px 12px;
  }
}
